<% if current_user %>
  <h1>Welcome, <%= current_user.name %></h1>
  <%= link_to 'Log out', user_session_path(current_user), data: { turbo_method: :delete } %><br>
<% else %>
  <h1>This is the index page</h1>
  <%= link_to 'Login', new_user_session_path %><br>
  <%= link_to "Log_up", new_user_path %>
<% end %>



<h1>Events</h1>

<nav>
  <%= link_to 'Eventos Futuros', events_path %>
  <%= link_to 'Eventos Passados', events_path(anchor: 'past_events') %>
</nav>

<h2>Eventos Futuros</h2>
<ul>
  <% @future_events.each do |event| %>
    <li>
      <%= link_to event.name, event_path(event) %> em <%= l(event.date, format: :long) %>
    </li>
  <% end %>
</ul>

<h2 id="past_events">Eventos Passados</h2>
<ul>
  <% @past_events.each do |event| %>
    <li>
      <%= link_to event.name, event_path(event) %> em <%= l(event.date, format: :long) %>
    </li>
  <% end %>
</ul>

<%= link_to "New event", new_event_path %>