<h1>Evento::.</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Description</th>
    <th>Date</th>
  </tr>
  <tr>
    <td><%= @event.name %></td>
    <td><%= @event.user.name %></td>
    <td><%= @event.description %></td>
    <td><%= @event.date.to_date.to_fs(:rfc822) %></td>
  </tr>
</table>

<% if user_signed_in? %>
  <% if @event.participants.include?(current_user) %>
    <%= form_with url: event_event_participant_path(@event, current_user.event_participants.find_by(event: @event)), method: :delete do %>
      <%= submit_tag 'Retirar deste evento' %>
    <% end %>
  
  <% else %>
    <%= form_with url: event_event_participants_path(@event), method: :post do %>
      <%= submit_tag 'Participar deste evento' %>
    <% end %>
  <% end %>

<% else %>
  <p>Você precisa estar logado para se registrar neste evento.</p>
  <%= link_to 'Login', new_user_session_path %>
<% end %>

<h2>Participantes</h2>
<ul>
  <% @event.participants.each do |participant| %>
    <li><%= participant.name %></li>
  <% end %>
</ul>